script(src='/javascripts/filter.country.js')
div(id='page-header')
	nav(class='navbar navbar-default navbar-fixed-top')
		div(class='col-md-3 hidden-md-down')
			a(href='/youtube')
				img(class='logo', src='/images/logo.svg')

		div(class='col-md-6 hidden-md-down note')
			div(class='dropdown')
				a(class='dropdown-toggle btn btn-primary' data-toggle='dropdown' href='#')
					strong
						= 'Country'
				ul(class='dropdown-menu scrollable-menu')
					li
						input(type='text' class='form-control' placeholder='Search..' id='myInput' onkeyup='filterFunction()')
					each country in countries
						li(class='country')
							a(href='/youtube?code=' + country.code)
								= country.name
